<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Chat</title>
</head>
<body>
<h1>WebSocket Chat</h1>
<div id="messages"></div>
<input type="text" id="messageInput" autocomplete="off"/>
<button onclick="sendMessage()">Send</button>
<button onclick="logout()">Logout</button>

<script>
    let ws;
    let token = document.cookie.split('; ').find(row => row.startsWith('access_token')).split('=')[1];

    function connectWebSocket() {
        ws = new WebSocket(`ws://localhost:8000/ws?token=${token}`);

        ws.onopen = function(event) {
            console.log("WebSocket is open now.");
        };

        ws.onmessage = function(event) {
            let messagesDiv = document.getElementById('messages');
            let message = document.createElement('div');
            message.textContent = event.data;
            messagesDiv.appendChild(message);

            limitMessages();
        };

        ws.onclose = function(event) {
            console.log("WebSocket is closed now.");
        };

        ws.onerror = function(event) {
            console.error("WebSocket error observed:", event);
        };
    }

    function sendMessage() {
        let input = document.getElementById("messageInput");
        let message = input.value;
        if (ws.readyState === WebSocket.OPEN) {
            ws.send(message);
            input.value = '';
        }
    }

    function logout() {
        fetch('/logout')
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
    }

    document.getElementById("messageInput").addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
            sendMessage();
        }
    });

    function limitMessages() {
        let messagesDiv = document.getElementById('messages');
        let messages = messagesDiv.getElementsByTagName('div');
        if (messages.length > 5) {
            messagesDiv.removeChild(messages[0]);
        }
    }

    connectWebSocket();
</script>
</body>
</html>
